@tailwind base;
@tailwind components;
html {
    scroll-behavior: smooth;
}
.main-container {
    background-image: url('https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png');
    width: 100%;
/*     height: 100vh; */
    background-size: cover;
}
.steps {
    flex: auto auto auto auto;
}
.img-cls {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0.3s;
}
.step:hover .img-cls {
  transform: scale(1.1);
}
.txt {
    font-family: 'Caveat', cursive;
}
.lower-item-icon {
    color: white;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.lower-item:hover .lower-item-icon {
    transform: scale(1.1);
}
.ft {
    font-family: 'Poppins', sans-serif;
}
.item-3 {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.left {
    /* background-image: url("https://mobirise.com/extensions/organicamp/assets/images/19.jpg"); */
    background-size:contain;
    
    background-repeat: no-repeat;
}
.right {
    background-image: url("https://edyoda.s3.ap-south-1.amazonaws.com/public/strawberry-white.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}
@tailwind utilities;
